.about
    img(src="/images/about_bg.webp", alt="").about__pic
    .my-work.about__container
        .about__preview
            span.about__preview-mark моя работа на 
                span.about__preview-mark_number 5+
            img(src="/images/about.webp", alt="").about__preview-pic
        section.about__info
            h2.about__info-title Что такое "Frond-End" ?
            p.about__info-desc Переведено с английского языка.-Front-end веб-разработка - это практика преобразования данных в графический интерфейс с использованием HTML, CSS и JavaScript, чтобы пользователи могли просматривать и взаимодействовать с этими данными.
            p.about__info-desc Это все, что видит пользователь при открытии веб-страницы и с чем он взаимодействует.

            a.about__info-link(href="#") Посмотреть мои работы 