.my-work 
    h1.socials Мои соц-сети
    .my-socials 
        .my-socials-instagram 
            a.insta(href="https://www.instagram.com/bekzod.383/")
                h1.title-soc Instagram
            a.insta_img(href="https://www.instagram.com/bekzod.383/") 
              img.insta(src="/images/instapng.webp", alt="")
        .my-socials-Telegram 
            a.tg(href="")
              h1.title-soc Telegram
            a.tg_img(href="") 
              img.tg(src="/images/tg.webp", alt="")
        .my-socials-Github 
            a.git(href="")
              h1.title-soc Github
            a.git_img(href="") 
              img.git(src="/images/git.webp", alt="")
        .my-socials-Tik
              a.tik(href="")
                h1.title-soc Tik Tok
              a.tik_img(href="") 
                 img.tik(src="/images/tik.webp", alt="")
             
                  
            
